<dialog class="modal" [class.modal-open]="open">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Editar usuario</h3>

    <div *ngIf="error" class="alert alert-error mt-3">
      <span>{{ error }}</span>
    </div>

    <div class="mt-4 space-y-3" *ngIf="user">
      <!-- Solo lectura -->
      <div class="text-sm">
        <div class="font-medium">{{ user.email }}</div>
      </div>

      <!-- Editables -->
      <input
        class="input input-bordered w-full"
        placeholder="Nombre"
        [(ngModel)]="nombre"
        name="nombre"
        [disabled]="loading"
      />

      <input
        class="input input-bordered w-full"
        placeholder="Teléfono"
        [(ngModel)]="phone"
        name="phone"
        [disabled]="loading"
      />

      <input
        class="input input-bordered w-full"
        placeholder="Nuevo password (opcional)"
        type="password"
        [(ngModel)]="password"
        name="password"
        [disabled]="loading"
      />

      <select
        class="select select-bordered w-full"
        [(ngModel)]="status"
        name="status"
        [disabled]="loading"
      >
        <option value="ACTIVE">ACTIVE</option>
        <option value="INACTIVE">INACTIVE</option>
      </select>
    </div>

    <div class="modal-action">
      <button class="btn" (click)="onClose()" [disabled]="loading">
        Cancelar
      </button>

      <button
        class="btn btn-neutral"
        (click)="submit()"
        [disabled]="loading || !user"
      >
        <span *ngIf="!loading">Guardar</span>
        <span *ngIf="loading" class="flex items-center gap-2">
          Guardando...
          <span class="loading loading-spinner loading-sm"></span>
        </span>
      </button>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop" (click)="onClose()">
    <button>close</button>
  </form>
</dialog>
